.wrap {
    display: flex;
    flex-direction: row;
}

.left-column {
    width: 50%;
}

.right-column {
    width: 50%;
}

p {
    margin: 5px 0 5px 0;
}

.p-header {
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    display: none;
}

#response-wr {
    border: 1px solid black;
    padding: 5px;
}

#body-response {
    border: 1px solid blue;
    padding: 10px;
    overflow: auto;
}

